<%- include("../layout/head") %>
<link rel="stylesheet" href="css/home.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/main.css">
    <link rel="stylesheet" href="./css/grid.css">
    <link rel="stylesheet" href="./font/fontawesome-free-6.0.0-web/fontawesome-free-6.0.0-web/css/all.min.css">
  <%- include("../layout/nav") %>

    <body>
      <!------------------->
      <div class="container" style="margin-top: 96px;">
        <h2 style="color: red;">Lịch sử đặt xe</h2>
        <table id="example" class="display table table-hover table-condensed">
          <thead>
            <tr>
              <th>ID</th>
              <th>Họ tên</th>
              <th>Địa chỉ</th>
              <th>Ngày đặt</th>
              <th>Trạng thái</th>
              <th>Tùy chọn</th>
            </tr>
          </thead>
          <tbody>
            <% var i=0 %>
              <% data.forEach(function(item){ i ++%>
                <tr>
                  <td>
                    <%= i %>
                  </td>
                  <td>
                    <%= item.name%>
                  </td>
                  <td>
                    <%= item.address%>
                  </td>
                  <td>
                    <%= item.date.getDate()%>/ <%= item.date.getMonth() +1 %> / <%= item.date.getFullYear()%>
                  </td>
                  <td>
                    <% if(item.st==0){ %>
                      <span> Đang chờ xử lý</span>
                      <%}else{ %>
                        <span>Đã xác nhận</span>
                        <%}%>
                  </td>
                  <td>
                    <a href="/xemhang/<%= item._id %>">Xem</a>
                    <% if(item.st==0){ %>
                      | <a href="/delete-order/<%= item._id %>">Hủy</a>
                      <%}else{ %>

                        <%}%>

                  </td>
                </tr>
                <%})%>
          </tbody>
        </table>
        <%- include("../layout/footer") %>
    </body>