<%- include("../layout/head") %>


<link rel="stylesheet" href="css/home.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/main.css">
    <link rel="stylesheet" href="./css/grid.css">
    <link rel="stylesheet" href="./font/fontawesome-free-6.0.0-web/fontawesome-free-6.0.0-web/css/all.min.css">

  <%- include("../layout/nav") %>
  <body>
<!------------------->
<div class="container" style="margin-top: 96px;">
  <marquee style="position: fixed; top: 0; right: 0; left: 0; z-index: 100; "><mark>Quý khách vui lòng chọn chi nhánh gần mình nhất để được nhận xe sớm nhất. Mọi thắc mắc xin liên hệ hotline:0123456789</mark></marquee>

  <h3>Đặt xe</h3>
  <hr>
  <div class="col-sm-8">
    <form action="/menu" method="POST">
      <label >Họ tên: <p style="color: red;float: right;"> *</p></label>
      <input style="margin-left: 95px; width: 280px;" type="text" id="name" name="name"  class="dathang"/> <br><br>
      <label>Địa chỉ: <p style="color: red;float: right;"> *</p></label>
      <input type="text" style="margin-left: 93px; width: 280px;" id="address" name="address" class="dathang"/><br><br>
      <label>Số điện thoại:  <p style="color: red;float: right;"> *</p> </label>
      <input type="text" style="margin-left: 55px; width: 280px;" id="phone" name="phone" class="dathang" /><br><br>
      <label>Chi nhánh nhận xe:  <p style="color: red;float: right;"> *</p> </label>

      <div class="controls">
        <select class="form-control" id="branchID" name="branchID">
        
        <% item.forEach(function(branch){ %>
   
             <option name="branchID" value="<%= branch.namebranch%>"><%= branch.namebranch%></option>
             
       
  
    <%    }) %>
  </select>
      </div> <br><br>
      <label>Ghi chú: <p style="color: red;float: right;"> *</p></label>
      <textarea class="dathang" style="margin-left: 90px;" rows="5" cols="32" name="message" id="message"></textarea><br><br>
     
    
     
      <button style="margin-left: 160px;" class="btn btn-primary" type="submit">Gửi</button>
    <button class="btn btn-warning" type="reset" >Reset</button>
    </form>
  </div>


</div>
</div>

<%- include("../layout/footer") %>
</body>

