<style>
  .content{
    margin-top: 96px;
  }
</style>
<%- include("../layout/head") %>
<link rel="stylesheet" href="css/home.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/main.css">
    <link rel="stylesheet" href="./css/grid.css">
    <link rel="stylesheet" href="./font/fontawesome-free-6.0.0-web/fontawesome-free-6.0.0-web/css/all.min.css">
<%- include("../layout/nav") %>
<body>
  <div style="margin-top: 96px;">
    <marquee style="position: fixed; top: 0; right: 0; left: 0; z-index: 100; "><mark >Bảng giá dưới đây là bảng giá cho thuê ngắn ngày, để lấy giá cho thuê dài ngày vui lòng gọi trực tiếp đến hotline: 0123456789 để được tư vấn miễn phí</mark></marquee>
    <%- include("./list_products") %>
    
            <!-- pagination -->
<div class="row" >
  
  <!-- hiển thị phân trang nếu có trang -->
  <% if(pages > 0) { %>
  <nav class="mx-auto">
    <ul class="pagination" style="margin-top: 2rem;">
    
      <!-- FIRST ITEM -->  
      <% if(current == 1) { %> 
   
          <li class="page-item disabled">
            <a class="page-link">First</a>
          </li>
      <% } else { %>
     
          <li class="page-item">
            <a class="page-link" href="/product">First</a>
          </li>
      <% } %>
    
      <!-- ITEMS  -->
      <% var i = (Number(current) > 3 ? Number(current) - 2 : 1) %> 
     <% if(i !== 1) { %>
          <li class="page-item disabled">
            <a class="page-link" href="#">...</a>
          </li>
      <% } %>
      <% for(; i <= (Number(current) + 2) && i <= pages; i++) { %>
         <% if(i == current) { %>
          <li class="page-item active">
            <a class="page-link" href="/product/<%= i %>/">
              <%= i %>
            </a>
          </li>
      <% } else { %>
          <li class="page-item">
            <a class="page-link" href="/product/<%= i %>/">
              <%= i %>
            </a>
          </li>
      <% } %>
      <% if (i == Number(current) + 2 && i < pages) { %>
          <li class="page-item disabled">
            <a class="page-link" href="#">...</a>
          </li>
      <% } %>
      <% } %>
      
      <!-- LAST ITEM -->
      <% if(current == pages) { %> 
         <li class="page-item disabled">
          <a class="page-link" >
              Last
          </a>
          </li>
      <% } else { %>
      
          <li class="page-item">
            <a class="page-link" href="/product/<%= pages %>/">
              Last
            </a>
          </li>
      <% } %>
    </ul>
  </nav>
  <% } %>
</div>
    </div>
  </div>
  <%- include("../layout/footer") %>
</body>

<br>


