 <%- include("../layout/head") %>
 <link rel="stylesheet" href="css/home.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/main.css">
    <link rel="stylesheet" href="./css/grid.css">
    <link rel="stylesheet" href="./font/fontawesome-free-6.0.0-web/fontawesome-free-6.0.0-web/css/all.min.css">
 <%- include("../layout/nav") %>

<br />
<body>

  <!-- <div class="aside">
    <%- include("./list_cate") %>
  </div> -->
  <div class="content">
    <h3 style="color: red">

        Danh sách xe
 
    </h3>
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <div class="thumbnail">
            <img
              class=""
              src="/upload/<%- ca.image %>"
              alt=""
              width="300px"
            />
            <div class="caption">
              <h4 class=""><%- ca.name %></h4>
              <p
                class=""
                style="
                  white-space: nowrap;
                  overflow: hidden;
                  text-overflow: ellipsis;
                "
              >
                <%- ca.note %>
              </p>

              <div class="">
                <p class="lead"><%- ca.price %> VNĐ</p>
              </div>
              <div class="">
                <a
                  class="btn btn-success"
                  href="/user/detail-product/<%- ca._id %>"
                  >Chi tiết</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
<%- include("../layout/footer") %>



 
 