<%- include("../layout/head") %>

<link rel="stylesheet" href="css/home.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/main.css">
    <link rel="stylesheet" href="./css/grid.css">
    <link rel="stylesheet" href="./font/fontawesome-free-6.0.0-web/fontawesome-free-6.0.0-web/css/all.min.css">
  <%- include("../layout/nav") %>

  

    

<!------------------->
      <div class="container">
       
<!-- Header End -->

     <!--  breadcrumb -->      
      <h1 class="heading1" style="padding:2%; color: red;"><span class="maintext"> </span><span class="subtext"> 
        
        Chi tiết đặt xe</span></h1>
      <hr>
      <!-- Cart-->
      <div class="cart-info">
        <table class="table table-striped table-bordered">
          <tr>
           
                <th>STT</th>
                <th>Tên</th>
                <th>Hình</th>
                <th>Màu sắc</th>
                <th>Giá/Ngày</th>
           
          </tr>
          <tbody>
            <% var id = 0; var total = 0 %>
            <% cart.cart.forEach(function(item){ id ++; total += item.price;%>
            <tr>
                <td><%= id%></td>
                <td><%= item.item.name%></td>
                <td> <img src="/upload/<%= item.item.image%>" width="150px" alt=""></td>
                <td><%= item.item.color%></td>
                <td><%= item.price%>đ</td>
            </tr>
            <%})%>

            <tr>
                
            </tr>
        </tbody>

        </table>
      </div>
  
 


    </div>
 


